html, body {
  font-family: Roboto;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

h1 {
  font-size: 54pt;
  font-weight: 900;
  color: rgb(50, 50, 73);
}

h1 span {
  color: white;
  margin-top: 10px;
  padding: 5px;
  background-color: rgb(228, 79, 136);
}

h2 {
  font-size: 30pt;
  font-weight: 900;
  color: rgb(50, 50, 73);
}

h5 {
  color: white;
  font-weight: 900;
  text-transform: capitalize;
  font-size: 25pt;
  padding: 10px;
}

.pkm-btn {
  width: 31.5%;
  padding: 15px 0px;
  margin: 10px;
  border-radius: 14pt;
  color: white;
  text-transform: capitalize;
  font-size: 14pt;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(58, 54, 114, 0.2);
  transition: all 0.2s ease-in-out;
}

.pkm-btn:hover {
  opacity: 0.95;
  transform: scale(1.05);
}

.pkm-btn img {
  background-image: url("../img/pokeball.png");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  width: 130px;
}

.pkm-btn p {
  margin-left: 30px;
  text-align: center;
  border-radius: 10pt;
  padding: 0px 15pt;
  background-color: rgba(255, 255, 255, 0.164);
}

.pkm-btn h3 {
  margin: 10px 10px 0px 30px;
  font-weight: 900;
}

.pokemon-list {
  padding-top: 50px;
}

.img-wrap {
  float: right;
  padding: 0px 34px;
  image-rendering: pixelated;
}

.type-wrap {
  float: left;
  padding-top: 25px;
}

.form-control {
  border-radius: 40px;
  padding: 15px 20px;
}

.modal-content {
  border-radius: 14pt;
  border: none;
}

.modal-header {
  border-top-left-radius: 13pt;
  border-top-right-radius: 13pt;
  height: 250px;
  background-image: url('../img/pokeball.png');
  background-repeat: no-repeat;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.list-group-horizontal>.list-group-item:first-child {
  border-bottom-left-radius: 14pt;
  border-top-right-radius: 14pt;
  border-top-left-radius: 14pt;
}

.list-group-horizontal>.list-group-item:last-child {
  border-bottom-left-radius: 14pt;
  border-top-right-radius: 14pt;
  border-bottom-right-radius: 14pt;
}

footer {
  margin-top: 25px;
  background-color: #fbf9ff;
}

.sub-footer {
  background-color: rgba(118, 109, 153, 0.082);
}

.sub-footer span {
  font-size: 11pt;
  color: grey;
}

.content {
  min-height: 76vh;
}

.content-main {
  min-height: 76vh;
}

.error-message {
  margin-left: 10px;
  margin-top: 5px;
  color: rgb(228, 79, 136);
  font-size: 0.8em;
}

.contact .btn {
  border-radius: 30px;
  padding: 8px 15px;
  background-color: rgb(228, 79, 136);
  border: none;
  transition: all 0.3s;
}

.contact .btn:hover {
  opacity: 0.8;
  background-color: rgb(175, 66, 108);
}

.firstGen {
  position: relative;
  width: 100%;
  height: 400px;
  padding-top: 20%;
}

.bulbasur {
  position: absolute;
  left: 75%;
  transform: scaleX(-1);
}

.charmander {
  position: absolute;
  left: 44%;
  z-index: 1;
}

.squirtle {
  position: absolute;
  left: 10%;
}

textarea.form-control {
  border-radius: 25px;
}

.detailPokemon {
  position: absolute;
  width: 300px;
  left: 100px;
  image-rendering: pixelated;
  top: -220px;
}

@media all and (max-width: 768px) {
  form.form-inline.ml-auto {
    margin: 0 auto;
    margin-top: 30px;
  }
  h1 {
    text-align: center;
    font-size: 29pt;
    margin-top: 50px;
  }
  .form-control {
    padding: 25px 45px;
  }
  .firstGen {
    width: 88%;
  }
  .bulbasur {
    width: 200px;
    left: 47%;
  }
  .charmander {
    width: 200px;
    left: 24%;
  }
  .squirtle {
    width: 200px;
    left: -18%;
  }
}

@media all and (max-width: 1030px) {
  .pkm-btn {
    width: 100%;
  }
  h1 {
    font-size: 45pt;
    font-weight: 900;
    color: rgb(50, 50, 73);
  }
  h2 {
    font-size: 20pt;
    font-weight: 900;
    color: rgb(50, 50, 73);
  }
}