html, body {
    font-family: Roboto;
    background-image: url("../img/background.png");
}

h1 {
    text-transform: capitalize;
}

.pkm-btn {
    width: 31.5%;
    padding: 15px 0px;
    margin: 10px;
    border-radius: 14pt;
    color: white;
    text-transform: capitalize;
    font-size: 14pt;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(58, 54, 114, 0.2);
    transition: all .2s ease-in-out;
}

.pkm-btn:hover {
    opacity: .95;
    transform: scale(1.05);
}

.pkm-btn img {
    background-image: url("../img/pokeball.png");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    width: 130px;
}

.pkm-btn p {
    margin-left: 30px;
    text-align: center;
    border-radius: 10pt;
    padding: 0px 15pt;
    background-color: rgba(255, 255, 255, 0.164);
}

.pkm-btn h3 {
    margin: 10px 10px 0px 30px;
    font-weight: 900;
}

.pokemon-list {
    padding-top: 50px;
}

@media all and (max-width: 1000px) {
    .pkm-btn {
        width: 100%;
    }
}

.img-wrap {
    float: right;
    padding: 0px 34px;
}

.type-wrap {
    float: left;
    padding-top: 25px;
}

.form-control {
    border-radius: 40px;
    padding: 15px 20px;
}