html,
body {
  font-family: Roboto;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

h1 {
  font-size: 50pt;
  font-weight: 900;
  color: rgb(50, 50, 73);
}

h2 {
  font-size: 30pt;
  font-weight: 900;
  color: rgb(50, 50, 73);
}

h5 {
  color: white;
  font-weight: 900;
  text-transform: capitalize;
  font-size: 25pt;
  padding: 10px;
  color: rgb(50, 50, 73);
}

.pkm-btn {
  width: 31.5%;
  padding: 15px 0px;
  margin: 10px;
  border-radius: 14pt;
  color: white;
  text-transform: capitalize;
  font-size: 14pt;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(58, 54, 114, 0.2);
  transition: all 0.2s ease-in-out;
}

.pkm-btn:hover {
  opacity: 0.95;
  transform: scale(1.05);
}

.pkm-btn img {
  background-image: url("../img/pokeball.png");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  width: 130px;
}

.pkm-btn p {
  margin-left: 30px;
  text-align: center;
  border-radius: 10pt;
  padding: 0px 15pt;
  background-color: rgba(255, 255, 255, 0.164);
}

.pkm-btn h3 {
  margin: 10px 10px 0px 30px;
  font-weight: 900;
}

.pokemon-list {
  padding-top: 50px;
}

.img-wrap {
  float: right;
  padding: 0px 34px;
}

.type-wrap {
  float: left;
  padding-top: 25px;
}

.form-control {
  border-radius: 40px;
  padding: 15px 20px;
}

.modal-content {
  border-radius: 14pt;
}

.modal-header {
  border-top-left-radius: 13pt;
  border-top-right-radius: 13pt;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.list-group-horizontal > .list-group-item:first-child {
  border-bottom-left-radius: 14pt;
  border-top-right-radius: 14pt;
  border-top-left-radius: 14pt;
}

.list-group-horizontal > .list-group-item:last-child {
  border-bottom-left-radius: 14pt;
  border-top-right-radius: 14pt;
  border-bottom-right-radius: 14pt;
}

footer {
  margin-top: 100px;
  background-color: #fbf9ff;
}

.sub-footer {
  background-color: rgba(118, 109, 153, 0.082);
}

.content {
  min-height: 55vh;
}

@media all and (max-width: 1000px) {
  .pkm-btn {
    width: 100%;
  }
}

@media all and (max-width: 768px) {
  form.form-inline.ml-auto {
    margin: 0 auto;
    margin-top: 30px;
  }

  h1 {
    text-align: center;
  }

  .form-control {
    padding: 25px 45px;
  }
}

.contact {
  width: 500px;
}

.content-main {
  height:  60vh;
}